<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    </listeners>

    <test name="login">
        <classes>
            <class name="com.itheima.apitest.script.TestLogin"/>
        </classes>
    </test>
</suite>

