/* 专门用来处理博客列表页的样式 */

.blog {
    width: 100%;
    padding: 20px;
}

.blog .title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.blog .datetime {
    text-align: center;
    font-size: 16px;
    color: rgb(0, 128, 0);
    padding: 10px 0;
}

.blog .desc {
    text-indent: 2em;
}

.blog a {
    display: block;
    width: 140px;
    height: 40px;
    margin: 10px auto;
    border: 2px black solid;
    line-height: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
    /* 添加过渡效果 */
    transition: all 0.25s;
}

.blog a:hover {
    background-color: #333;
    color: #fff;
}